---
import Blogpreview from "@components/blogpreview.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getAllPosts } from "@utils/data";

// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);

const seo = {
  title: "Shenanigans.",
  description: "",
};

const posts = await getAllPosts();
---

<Layout seo={{ title: "Blog" }}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">
        We write about building startups and thoughts going on our mind.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {posts.map((post, index) => <Blogpreview post={post} index={index} />)}
      </ul>
    </main>
  </Container>
</Layout>
